@import "base";

// Include animations
@include slideInDownBounce;

* {
    transition: 0.2s ease-in-out;
}

body {
    background: $blue;
    font-family: $arial;
    color: #333;
}

.hero-unit {
    @include animation(slideInDownBounce 0.8s);
    transform: translate3d(0, 0, 0);
    margin: 50px auto 0 auto;
    width: 50%;
    @include font-size(18px);
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    color: $blue;
    h1 {
        @include font-size(60px);
        line-height: 1;
        letter-spacing: -1px;
        text-align: center;
    }
}

.uncss-empty {
    color: #fff;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
